absl-py 
accelerate==0.17.1

aiohttp 
aiosignal 
alabaster 
antlr4-python3-runtime==4.9.3

anyio 
argh==0.26.2

argon2-cffi 
argon2-cffi-bindings 
asn1crypto 
astroid 
astropy 
asttokens 
async-timeout 
atomicwrites==1.4.0

attrs 
autopep8 
av==8.0.3

Babel 
backcall 
backports.functools-lru-cache 
backports.shutil-get-terminal-size 
backports.tempfile 
backports.weakref==1.0.post1

bcrypt 
beautifulsoup4 
bitarray 
bkcharts==0.2

bleach 
blinker==1.4

bokeh 
boto==2.49.0

Bottleneck 
box2d-py==2.3.5

brotlipy==0.7.0

cachetools 
certifi 
cffi 
chardet 
charset-normalizer 
click 
cloudpickle 


colorama 
comtypes==1.1.10




contextlib2 
cryptography 
cycler 
Cython 
cytoolz==0.11.0

dask 
debugpy 
decorator 
defusedxml 
diff-match-patch 
diffusers==0.14.0

dill 
distributed 
docutils 
einops==0.6.0

entrypoints 
et-xmlfile==1.1.0

executing 
fastcache==1.1.0

fastjsonschema 
filelock 
flake8 
fonttools==4.25.0

frozenlist 
fsspec 
future==0.18.2

fvcore==0.1.5.post20210924

gevent 
glob2 
gmpy2 

greenlet 
grpcio 


h11==0.12.0

h5py==2.10.0

HeapDict 
html5lib 
huggingface-hub==0.13.2

hyperopt==0.2.7

idna 
imageio 
imageio-ffmpeg==0.4.5

imagesize 
imhist==0.0.4

importlib-metadata 
importlib-resources 
imWatermark==0.0.2

iniconfig 
intervaltree 
iopath==0.1.9

ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itsdangerous 
jdcal 
jedi 
Jinja2 
joblib 
json5 
jsonschema 
keyring 
kiwisolver 
lazy-object-proxy 
libarchive-c 
lightning-utilities==0.8.0

llvmlite==0.38.0

locket 
lxml 
lz4 
Markdown 
MarkupSafe 
matplotlib 
matplotlib-inline 
mccabe==0.6.1


mistune==0.8.4

mkl-fft==1.3.1

mkl-random 
mkl-service==2.4.0

mock 
more-itertools 
mpmath==1.2.1

msgpack 
multidict 
multipledispatch==0.6.0

munkres==1.1.4

nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk 
nose 
notebook 
numba 
numexpr 
numpy 
numpydoc 
oauthlib 
olefile 
omegaconf==2.3.0

opencv-python==4.5.1.48

openpyxl==3.0.10

packaging 
pandas 
pandocfilters 
parameterized==0.8.1

paramiko 
parso==0.7.0

partd 
path 
pathlib 
pathlib2 
pathtools 
patsy==0.5.2

pep8==1.7.1

pexpect 
pickleshare 
Pillow==9.2.0

pkginfo 
platformdirs 
plotly 
pluggy 
ply==3.11

portalocker==2.3.2

prometheus-client 
prompt-toolkit 
protobuf 
psutil 
ptyprocess 
pure-eval 
py 
py4j==0.10.9.5

pyasn1==0.4.8

pyasn1-modules==0.2.7

pycodestyle 
pycosat==0.6.3

pycparser 
pycurl==7.45.1

pydocstyle 
pyerfa 
pyflakes 
pygame==2.1.0

pyglet==1.5.21

Pygments 
PyJWT 
pylint 
PyNaCl 
pyngrok==5.1.0

pyodbc 
pyOpenSSL 
pyparsing 
pyreadline==2.1

pyrsistent 
PySocks 

pytest==7.1.2

python-dateutil 
python-jsonrpc-server 
python-language-server 
pytorch-lightning==2.0.0

pytorchvideo==0.1.3

pytz 
pyu2f 
PyWavelets 

PyYAML==6.0

pyzmq 
QDarkStyle 
QtAwesome 
qtconsole 
QtPy 
regex 
requests 
requests-oauthlib 
rope 
rsa 
Rtree 
safetensors==0.3.0

scikit-image 
scikit-learn 
scipy 
seaborn 
Send2Trash 
simplegeneric==0.8.1

 

six 
sniffio 
snowballstemmer 
sortedcollections 
sortedcontainers 
soupsieve 
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
sphinxcontrib-websupport 
spyder 
spyder-kernels 
SQLAlchemy 
stack-data 
statsmodels==0.13.2

swig==4.1.0

sympy 
tables==3.6.1

tabulate==0.8.9

tblib 
tenacity==8.1.0

tensorboard 
tensorboard-data-server 
tensorboard-plugin-wit 
termcolor==1.1.0

terminado 
testpath 
threadpoolctl 
tifffile==2020.10.1

tokenizers==0.13.2

toml 
tomli 
tomlkit 
toolz 
torch==1.12.1

torch-tb-profiler==0.4.0

torchaudio==0.12.1

torchmetrics==0.11.4

torchtest==0.5

torchvision==0.13.1

tornado 
tqdm 
traitlets 
transformers==4.27.1

typing_extensions 
ujson 
unicodecsv==0.14.1

urllib3 
uvicorn==0.13.1

watchdog 
wcwidth 
webencodings==0.5.1

websocket-client==1.2.3

Werkzeug 
widgetsnbextension 


wrapt 
xlrd 
XlsxWriter 

xlwt==1.3.0

yacs==0.1.8

yapf 
yarl 
zict==2.1.0

zipp 
zope.event==4.5.0

zope.interface 
